<template>
    <div class="error-404">
        <h2>404 | <small>Not Found</small></h2>
    </div>
</template>

<script>
  export default {
    name: 'NotFound',
  }
</script>

<style scoped>
    .error-404 {
        color: #343a40;
        text-align: center;
        margin-top: 6rem;
    }
</style>
