<template>
    <div>
        <b-navbar sticky="sticky" toggleable="lg" type="dark" variant="dark">
            <b-navbar-brand href="#">Vue Router Demo</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item :to="{ name: 'home' }">Home</b-nav-item>
                    <b-nav-item :to="{ name: 'users.index' }">Users</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-form>
                        <b-form-input class="mr-sm-2" placeholder="Search" size="sm"></b-form-input>
                        <b-button class="my-2 my-sm-0" size="sm" type="submit">Search</b-button>
                    </b-nav-form>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <b-container class="pt-2">
            <router-view></router-view>
        </b-container>
    </div>
</template>
<script>
  export default {}
</script>
