<template>
    <b-container class="pt-2">
        <b-row class="justify-content-center">
            <b-col md="8">
                <b-card>
                    <template v-slot:header>
                        <h6 class="mb-0">Example Component</h6>
                    </template>
                    <b-card-text>
                        I'm an example component.
                    </b-card-text>
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
  export default {}
</script>
