<template>
    <div class="users">
        <b-alert dismissible v-if="! users" variant="warning">Loading...</b-alert>

        <b-alert v-if="error" variant="danger">{{ error }}</b-alert>

        <b-table :fields="fields" :items="users" :tbody-tr-class="rowClass" bordered striped v-if="users">
            <!-- A virtual column -->
            <template v-slot:cell(operation)="data">
                <b-button :to="{ name: 'users.edit', params: { id:data.item.id } }" variant="primary">Edit</b-button>
                <b-button :disabled="(data.item.id === deleting || deleted.includes(data.item.id))"
                          @click.prevent="onDelete(data.item.id)"
                          variant="danger">
                    Delet{{(deleted.includes(data.item.id)?'ed':(data.item.id === deleting)?'ing':'e')}}
                </b-button>
            </template>
        </b-table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li :class="prevPage || 'disabled'" class="page-item">
                    <button :disabled="! prevPage" @click.prevent="goToPrev" class="page-link">Previous</button>
                </li>
                <li class="page-item disabled">
                    <button class="page-link">{{ paginatonCount || '......' }}</button>
                </li>
                <li :class="nextPage || 'disabled'" class="page-item">
                    <button :disabled="! nextPage" @click.prevent="goToNext" class="page-link">Next</button>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
  import client from '../client'

  const getUsers = (page, callback) => {
    const params = { page }

    client.all({ params }).then(response => {
      callback(null, response.data)
    }).catch(error => {
      callback(error, error.response.data)
    })
  }

  export default {
    data () {
      return {
        fields: [
          'id', 'name', 'email',
          // A virtual column that doesn't exist in items
          { key: 'operation', label: 'Operations' },
        ],
        users: null,
        meta: null,
        links: {
          first: null,
          last: null,
          next: null,
          prev: null,
        },
        deleting: false,
        deleted: [],
        error: null,
      }
    },
    computed: {
      nextPage () {
        if (!this.meta || this.meta.current_page === this.meta.last_page) {
          return
        }

        return this.meta.current_page + 1
      },
      prevPage () {
        if (!this.meta || this.meta.current_page === 1) {
          return
        }

        return this.meta.current_page - 1
      },
      paginatonCount () {
        if (!this.meta) {
          return
        }

        const { current_page, last_page } = this.meta

        return `${current_page} of ${last_page}`
      },
    },
    beforeRouteEnter (to, from, next) {
      const params = {
        page: to.query.page,
      }

      getUsers(to.query.page, (err, data) => {
        next(vm => vm.setData(err, data))
      })
    },
    // when route changes and this component is already rendered,
    // the logic will be slightly different.
    beforeRouteUpdate (to, from, next) {
      this.users = this.links = this.meta = null
      getUsers(to.query.page, (err, data) => {
        this.setData(err, data)
        next()
      })
    },
    methods: {
      goToNext () {
        this.$router.push({
          query: {
            page: this.nextPage,
          },
        })
      },
      goToPrev () {
        this.$router.push({
          name: 'users.index',
          query: {
            page: this.prevPage,
          },
        })
      },
      setData (err, { data: users, links, meta }) {
        if (err) {
          this.error = err.toString()
        }
        else {
          this.users = users
          this.links = links
          this.meta = meta
        }
      },
      rowClass (item, type) {
        return 'row-' + item.id
      },
      onDelete (userId) {
        this.deleting = userId
        if (confirm('Are you sure?')) {
          client.delete(userId).then(response => {
            this.deleted.push(userId)
            if (response.status === 204) {
              $('.row-' + userId).addClass('table-secondary text-danger').find('a').addClass('disabled')
            }
          }).catch(error => {
            console.log(error)
          }).then(() => {
            this.deleting = false
          })
        }
      },
    },
  }
</script>
