<template>
    <div>
        <b-alert class="mb-2" dismissible v-if="! user" variant="warning">Loading...</b-alert>

        <b-form @submit="onSubmit($event)" v-else>
            <b-form-group id="name-input-group" label="Name" label-for="user_name">
                <b-form-input
                    id="user_name"
                    placeholder="Enter Name"
                    required
                    v-model="user.name"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="email-input-group" label="Email Address" label-for="user_email">
                <b-form-input
                    id="user_email"
                    placeholder="Enter Email"
                    required
                    type="email"
                    v-model="user.email"
                ></b-form-input>
            </b-form-group>

            <b-button
                :disabled="saving"
                :type="saving ? 'button' : 'submit'"
                :variant="saving ? 'success' : 'primary'"
                v-html="saving ? 'Updating' : 'Update'"
            ></b-button>
        </b-form>

        <b-alert :variant="error?'danger':'success'" class="mt-2"
                 dismissible
                 v-if="message || error"
        >{{ message || error }}
        </b-alert>
    </div>
</template>
<script>
  import client from '../client'

  export default {
    data () {
      return {
        message: null,
        error: null,
        user: {
          id: null,
          name: '',
          email: '',
        },
        saving: false,
        prevRoute: null,
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.prevRoute = from
      })
    },
    methods: {
      fetchData () {
        this.user = null
        client.find(this.$route.params.id).then(response => {
          this.user = response.data.data
        }).catch(error => {
          this.$router.push({ name: '404' })
        })
      },
      onSubmit (evt) {
        evt.preventDefault()
        this.saving = true
        const params = this.user

        client.update(this.user.id, params).then((response) => {
          this.message = 'User updated'
          this.user = response.data.data
          setTimeout(() => {this.message = null}, 2000)
          this.$router.push({
            name: 'users.index', params: {
              page: this.prevRoute.query.page || 1,
            },
          })
        }).catch(error => {
          this.error = error.response.data.message || error.message
        }).then(() => this.saving = false)
      },
    },
    created () {
      this.fetchData()
    },
  }
</script>
